*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: gray
}

nav{
    width: 80%;
    margin: 0 auto;
}

.wave{
    position: relative;
}
.wave span{
    position: relative;
    display: inline-block;
    font-size: 24px;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
}
@keyframes flip{
    0%, 80%{
        transform: rotateY(360deg);
    }
}

.auth{
    width: 20%;
    margin: 50px auto;
}

.links{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
}
/* Шапка */
.container-fluid{
    background-color: #D2B48C;
    padding: 20px;
}

/* Главная */
body{
    background-color: #FFE4C4;
}

.slider_my_css{
    max-height: 600px;
}
.card-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.card_my_css{
    background-color: #D2B48C;
    /* width: 500px; */

}

.card_my_css img{
    max-height: 240px;
    object-fit: cover;
}

.card{
    max-width: 275px;
}

.row{
    gap: 5%;
    width: 100%;
    margin: 0 auto;
}

.cardButton_my_css{
    background-color: inherit;
    border: 1px solid black;
    color: black;
    padding: 5px 15px;
    transition: .2s;
}

.cardButton_my_css:hover{
    border: 1px solid #D2B48C;
    background: #fff;
    color: #D2B48C;
    transition: .2s;
}



/* регистрация */
